.homeContainer {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

@media (min-width: 768px) {
    .homeContainer {
        flex-direction: row;
    }
}

.homeRow {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer .profileCard {
    margin-bottom: 20px;
}

.homeContainer .card-header {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #18823a;
    letter-spacing: 0.05em;
}

.homeContainer .card-text {
    margin: 5px 0;
}

.homeContainer button {
    margin-top: 14px;
}

@media (max-width: 767px) {
    .homeContainer button {
        width: 100%;
    }
}
