.homeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* hide the scrollbar */
}

.homeRow{
    height: 532px;
}

.homeContainer button{
    margin-top: 14px;
}

.homeContainer .card{
    margin: 2px;
    margin-bottom: 4px;
}

.homeContainer .card-header {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #18823a;
    letter-spacing: 0.05em;
}

.homeContainer .card-text {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .profileColumn {
        padding-bottom: 0;
    }
}