.homeContainer{
    height: calc(100% - 60px);
}

/*burde være i % så det variere af skærmstørrelse*/
.homeRow{
    height: 532px;
}

.homeContainer button{
    margin-top: 14px;
}

.homeContainer .card{
    margin: 2px;
    margin-bottom: 4px;
}

.homeContainer .card-header {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #18823a;
    letter-spacing: 0.05em;
}

.homeContainer .card-text {
    margin: 5px 0;
}

@media (max-width: 768px) { /* Adjust breakpoint as needed */
    .profileColumn {
        padding-bottom: 0; /* Reset padding for smaller screens */
    }
}