.login-container{
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 2px;
    background-color: #f9f9f9;
}

.login-h2 {
    margin-bottom: 20px;
}

.login-form {
    align-items: center;
}

.login-input-container {
    margin-bottom: 10px;
}