.nav-container{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: rgb(125, 230, 125);
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 0.5);
    letter-spacing: 0.05em;
}



