.overviewContainer{
    height: calc(100% - 60px);
}

.col-lg-7{
    text-align: center;
    margin-top: 10px;
}

.vertical-line {
    border-left: 2px solid gray;
    height: 75%;
    margin-top: 55px;
  }

.horisontal-line {
    border-top: 2px solid gray;
    width: 75%;
    margin-top: 55px;
}

.plant-temp-form-container {
    text-align: center;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 2px;
    margin-top: 55px;
    border-radius: 7px;
}

.plant-temp-container h2 {
    margin-bottom: 15px;
}

.plant-temp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant-input-grid {
    display: grid;
    grid-template-columns: repeat(2, 3fr); /* 2 columns */
    grid-gap: 10px;
}

.plant-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.file-upload-button {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin: 10px;
}

.file-upload-button input {
    display: none;
}

.image-preview {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.Edit-Button-Container {
    display: flex;
    gap: 10px;
}

.overviewContainer button{
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
}

.submit-button {
    background-color: green;
    color: white;
}

.delete-button{
    background-color: red;
    color: white;
}
  