#list{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 50px;
}

::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
  }