#search {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#list {
    height: calc(100vh - 140px);
    overflow-y: auto;
    padding-right: 50px;
}