#smartPotPlant{
    max-height: 250px;
}
a:link {
    text-decoration: none;
    color: black;
  }
#waterdrop{
    height: 60px;
    margin-bottom: 35px;
    
}

p {
    color: black;
    margin: 0;
}

#percent{
    font-size: 3.5em;
}


#bottomCol img, h1{
    display: inline-block;
}
#smartPodContainer{
    border-color: rgb(75, 75, 75);
    border-style: solid;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    width: 100%;
}