#smartPotPlant{
    height: 110px;
}
a:link {
    text-decoration: none;
    color: black;
  }
#waterdrop{
    height: 40px;
    margin-bottom: 20px;
    
}


#bottomCol img, h1{
    display: inline-block;
}
#smartPodContainer{
    border-color: rgb(75, 75, 75);
    border-style: solid;
    border-radius: 20px;
    margin: 15px;
    padding: 10px;
}